// Styles for B2B Brillance Section

.container {
    position: relative;
    color: white;
  }

  .text-container{
    display: flex;
    flex-direction: row;
  }
  
.top-left{
  position: absolute;
  top: 10%;
  left: 10%;
}

.first-col{
    position: absolute;
    top: 20%;
    left: 15%;
}

.second-col{
    position: absolute;
    top: 20%;
    left: 35%;
}

.third-col{
    position: absolute;
    top: 20%;
    left: 55%;
}

.fourth-col{
    position: absolute;
    top: 20%;
    left: 75%;
}

.spacer1 {
    border-left: 2px dotted white;
    height: 130px;
    position: absolute;

    left: 30%;
    top:17%;

    z-index: 2;
}

.spacer2 {
    border-left: 2px dotted white;
    height: 130px;
    position: absolute;

    left: 51%;
    top: 17%;

    z-index: 2;
}

.spacer3 {
    border-left: 2px dotted white;
    height: 130px;
    position: absolute;

    left: 70%;
    top: 17%;

    z-index: 2;
}