// Styles for hero section



#container1 {

    display: flex;

    justify-content: space-between;

}


#container {

    display: flex;

    justify-content: space-between;

}


#container1 img {

    border-radius: 50%;

    height: 200px;

    width: 200px;

}


#container img {

    border-radius: 50%;

    height: 150px;

    width: 150px;

}


.margin-test {

    margin-top: 40px;

    margin-left: 150px;

    margin-right: 150px;

}


.vl {

    border-left: 6px solid white;

    height: 1100px;

    position: absolute;

    left: 50%;

    margin-left: -3px;

    z-index: 2;

}


.line1 {

    position: absolute;

    border-top: 1px dashed white;

    width: 200px;

    margin-left: 11%;
    
    margin-top: 5%;

}

.four-weeks{

    position: absolute;

    text-align: right;

    margin-left: -8%;

    margin-top: 2%;
}

.three-weeks{

    position: absolute;

    text-align: left;

    margin-left: 11%;

    margin-top: 2%;
}

.two-weeks{

    position: absolute;

    text-align: right;

    margin-left: -8%;

    margin-top: 2%;
}

.one-week{

    position: absolute;

    text-align: left;

    margin-left: 11%;

    margin-top: 2%;
}

.line2 {

    position: absolute;

    border-top: 1px dashed white;

    width: 200px;

    margin-left: -15%;

    margin-top: 5%;

}


.line3 {

    position: absolute;

    border-top: 1px dashed white;

    width: 200px;

    margin-left: 11%;

    margin-top: 5%;

}


.line4 {

    position: absolute;

    border-top: 1px dashed white;

    width: 200px;

    margin-left: -15%;

    margin-top: 5%;

}


#container .timelineLeft {

    margin-left: 150px;

     margin-top: 3%;

}


#container .timelineRight {

    z-index: 2;

    margin-left: 72%;

}


.descpLeft {

    margin-left: 90px;

}


.descpRight {

    margin-left: 63%;

}


.margin-test2 {

    margin-top: 20%;

}


#ThreeCircles {

    display: flex;

    justify-content: space-between;

    padding-left: 200px;

    padding-right: 200px;

    padding-bottom: 50px;

}


#ThreeCircles div {

    padding: 25px;

    border: 2px solid;

    border-color: black;

    border-radius: 50%;

    height: 150px;

    width: 150px;

    text-align: center;

}

.hero-section--banner-image{
    width: 100%;
}

/* Styles for hero section */