// Styles for hero section

#container1 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

.portrait2{
    margin-left: 10%;
}


#container {
    display: flex;
    justify-content: space-between;
    position: relative;
}


#container1 img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}


#container img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


.margin-test {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}


.vl {
    border-left: 6px solid #A800FF;
    height: 1100px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    z-index: 2;
}


.line1 {
    position: absolute;
    border-top: 1px dashed #A800FF;
    width: 200px;
    top: 60%;
    left: 50%;
    transform: translate(-100%, 0);
}

.four-weeks {
    position: absolute;
    text-align: right;
    right: 87%;
    top: 32%;
}

.three-weeks {

    position: absolute;
    text-align: left;
    top: 20%;
    right: 0%;
}

.two-weeks {

    position: absolute;
    text-align: right;
    margin-left: -8%;
    margin-top: 2%;
    font-weight: bold;
}

.one-week {

    position: absolute;
    text-align: left;
    right: 0%;
    top: 15%;
}

.line2 {
    position: absolute;
    border-top: 1px dashed #A800FF;
    width: 200px;
    top: 50%;
    left: 50%;

}

.line3 {
    position: absolute;
    border-top: 1px dashed #A800FF;
    width: 200px;
    margin-left: 11%;
    margin-top: 5%;
}


.line4 {
    position: absolute;
    border-top: 1px dashed #A800FF;
    width: 200px;
    margin-left: -15%;
    margin-top: 5%;
}

.timeline {
    max-width: 1000px;
    margin: auto;
}

#container .timelineLeft {
    margin-left: 150px;
     margin-top: 3%;
}


#container .timelineRight {
    z-index: 2;
    margin-left: 70%;
}


.descpLeft {
    margin-top: 2%;
    margin-left: 8%;
}


.descpRight {
    margin-left: 63%;
    margin-top: 2%;
}


.margin-test2 {
    margin-top: 10%;
}


#ThreeCircles {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}


#ThreeCircles div {
    padding: 45px;
    border: 2px solid;
    border-color: #A800FF;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    text-align: center;
    font-size: x-large;
}

.hero-section--banner-image {
    width: 100%;
}

/* Styles for hero section */